# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output files
*.txt
*.log

# vscode
.vscode/

# assignment 3 dataset
assignment3/files/
assignment3/big_files/
assignment3/mixed_files/
assignment3/small_files/

# fastflow
fastflow/